.txt-center {
    text-align: center;
}

.txt-bold {
    font-weight: 500;
}

/* Links start */

a, a:visited {
    color: var(--red);
    text-decoration: none;
    transition: all 0.3s;
}

a:hover, a:focus, a:active {
    color: var(--light-red);
    outline: none;
}

/* Links end */